@import "ContactForm/_ContactForm";

#contact {
  position: relative;
  #contact_container {
    display: flex;

    #imgContact {
      width: 100%;
      height: 1026px;
      background-image: url("./../../../assets/Background-Contact-Form.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2;
    }
    #contactForm {

    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 45%;
    bottom: 1rem;
    span {
      font-size: 1.125rem;
    }
    div {
      margin-left: 31rem;
      img {
        margin-left: 1.25rem;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
}