@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import "./settings/fonts";
@import "./settings/colors";

@import "../components/Home/Home";

:root {
  font-size: 16px;

  body {
    font-family: $font-base;
    color: $colorDarkGray;

    .container {
      max-width: 1900px;
      background-color: #fff;
      margin: 0 auto;
    }
  }
}